<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918510273238-fi4p7b5ncge74sfu5qpug7ils1kka1ej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918510273238-fi4p7b5ncge74sfu5qpug7ils1kka1ej</string>
	<key>API_KEY</key>
	<string>AIzaSyBRW6xQUljxL_JWLceOnPJBT9v69hqYvHI</string>
	<key>GCM_SENDER_ID</key>
	<string>918510273238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodhood2</string>
	<key>PROJECT_ID</key>
	<string>cosc499-9a063</string>
	<key>STORAGE_BUCKET</key>
	<string>cosc499-9a063.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918510273238:ios:2732b86222888c04d0bf77</string>
</dict>
</plist>